body {
    background-color: #669e41;
   }
   
div.hide {
  display: none;
}
   
header{
  margin-top: 30%;
}
   
   .weatherloc {
     font-size: 20px;
   }

   .temperature{
    cursor:pointer;
    color:#006dcc;
  }
  .temp:hover{
    color:#005096;
  }